@model ShopV1.Models.TaiKhoan  
@{
    ViewData["Title"] = "Home Page";
    var menuCha = (IList<ShopV1.Models.DanhMuc>)ViewBag.Cha;

}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/for-index/reset.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/for-index/index.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/for-index/little.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/for-index/form-modal-regis.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/for-index/modal-product.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/for-index/modal-search.css")"type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/for-index/modal-carbuy.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/for-index/owl/owl.carousel.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/for-index/owl/owl.theme.default.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/css/for-index/responsive.css")" type="text/css">
    <title href="">Grimm DC</title>
</head>

<body>
    <!-- Load Facebook SDK for JavaScript -->

    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="778286239201398">
    </div>
    <div id="header">
        <div class="banner-top">
            <div class="banner-top-control clearfix" id="site2">
                <div class="item-logo-left">
                    <div class="mobile-menu-respond">
                        <a href="" id="icon-menu-respond">
                            <i id="icon-menu" class="fa fa-navicon"></i>
                        </a>
                    </div>
                    <!-- menu respond  -->
                    <div id="respon_menu" class="">
                        <div class="drawer__header">
                            <div class="drawer__title"><img src="~/img/logo.webp" alt="Grimm DC"></div>
                            <div class="drawer__close js-drawer-close" id="icon-close">
                                <a href="" class="fa fa-times close-icon"></a>
                            </div>
                        </div>
                        <ul class="mobile-nav">
                            <li class="mobile-nav__item mobile-nav__item--active">
                                <a href="/" class="mobile-nav__link">Grimm DC</a>
                            </li>
                            <li class="mobile-nav__item">
                                <a href="" class="mobile-nav__link">Giới thiệu</a>
                            </li>
                            <li class="mobile-nav__item">
                                <a href="/pages/about-us" class="mobile-nav__link">Sản phẩm</a>
                            </li>
                            <li class="mobile-nav__item">
                                <a href="/blogs/news" class="mobile-nav__link">Tin tức</a>
                            </li>
                            <li class="mobile-nav__item">
                                <a href="/pages/lien-he" class="mobile-nav__link">Liên hệ</a>
                            </li>
                            <li class="mobile-nav__item">
                                <a href="/account/login" id="customer_login_link">Đăng nhập</a>
                            </li>
                            <li class="mobile-nav__item">
                                <a href="/account/register" id="customer_register_link">Đăng kí</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end menu respond  -->
                    <!-- logo web khi không respond  -->
                    <a href=""><img src="~/img/logo.webp" alt=""></a>
                    <!-- end logo web khi không respond  -->
                    <!-- mobllie shopping bag when respond  -->
                    <div class="mobile-bag-shopping">
                        <a href="" class="hd-cart">
                            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        </a>
                    </div>

                </div>
                <div class="item-list-center">
                    <div class="list-control">
                        <ul class="list-item">
                            <li class="menu-item">
                                <a href="" class="menu-link a">GRIMM DC</a>
                            </li>
                            <li class="menu-item">
                                <a href="intro.html" class="menu-link a">GIỚI THIỆU</a>
                            </li>
                            <li class="menu-item">
                                <a href="" class="menu-link a btn-2">SẢN PHẨM🔽</a>
                                <!-- modal của popup list product  -->
                                <div class="modal-2">
                                    <div class="modal-content-2">
                                        <div class="modal-content-list clearfix">
                                            @foreach (var item in ViewBag.Cha)
                                            {
                                                <div class="modal-content-list-left">
                                                    <ul class="list-modal2">
                                                     <li>
                                                            <h2>@item.Ten</h2>
                                                           
                                                      </li>
                                                        @await Component.InvokeAsync("DanhMucCon", new { id = item.Id })
                                                    </ul>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="menu-item">
                                <a href="new.html" class="menu-link a">TIN TỨC</a>
                            </li>
                            <li class="menu-item">
                                <a href="contact.html" class="menu-link a">LIÊN HỆ</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="item-contact-right">
                    <div class="right-contact-control">
                        <ul class="contact-control">
                            <li class="contact-item">
                                <a href="" class="open-search a btn-3"><i class="fa fa-search"></i></a>
                                <div class="modal-3">
                                    <div class="modal-content-3">
                                        <form id="searchauto" action="/search"
                                              class="searchform-categoris ultimate-search" style="display: block;">
                                            <div class="wpo-search">
                                                <div class="wpo-search-inner">
                                                    <div class="input-group">
                                                        <input type="hidden" name="type" value="product">
                                                        <input id="searchtext" name="q" maxlength="40"
                                                               class="form-control input-search" type="text" size="20"
                                                               placeholder="Tìm kiếm" autocomplete="off">
                                                        <span class="input-group-addon">
                                                            <input type="submit" id="searchsubmit" class="fa" value="">
                                                        </span>
                                                    </div>
                                                </div>
                                                <input type="hidden" class="collection_id"
                                                       value="(collectionid:product>=0)">
                                                <input type="hidden" class="collection_handle" value="all">
                                                <input type="hidden" class="collection_name" value="all">
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li class="contact-item">
                                <a href="" class="a btn"><i class="fa fa-user"></i></a>
                                <!-- modal popup để cho người dùng đăng nhập  -->
                                <div class="modal">
                                    <div class="modal-content">
                                        <!-- <span class="close">&times;</span> -->
                                        <div class="form-reg">
                                            <div class="loginbox">
                                                <h1>Đăng Nhập</h1>
                                                @using (Html.BeginForm("Login", "Customer", FormMethod.Post))
                                                {
                                                    <p>Tên đăng nhập</p>
                                                    @Html.TextBoxFor(m => m.Email)
                                                    <p>Mật khẩu</p>
                                                    @Html.PasswordFor(m => m.Matkhau)
                                                    <input type="submit" value="Đăng Nhập">
                                                    <a href="">Quên mật khẩu ?</a><br>
                                                    <a href="../Registration/Registration.html">Không có tài khoản ?</a>
                                                }


                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="contact-item">
                                <a href="" class="open-qv-cart a btn-4">
                                    <i class="fa fa-shopping-bag"></i>
                                    <span class="cart-count">0</span>
                                </a>
                                <div class="modal-4">
                                    <div class="modal-content-4">
                                        <h3>Giỏ hàng của tôi</h3>
                                        <ul class="no-bullets cart-list">
                                            <li class="cart-item">
                                                <div class="grid">
                                                    <div class="grid__item1">
                                                        <a href="/products/crep-protect-pills">
                                                            <img src="~/img/product-small/produc-small-1.webp" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="grid__item2">
                                                        <div class="cart-info">
                                                            <a href="/products/crep-protect-pills" class="a text-uppcase">Crep Protect - Pills</a>
                                                            <small>Crep Protect Pill</small>
                                                            <span class="quantity">Số lượng: 1</span>
                                                            <span class="current-price text-bold text-black-grey">Giá/sp: 320,000₫</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="cart-item">
                                                <div class="grid">
                                                    <div class="grid__item1">
                                                        <a href="/products/crep-protect-pills">
                                                            <img src="~/img/product-small/produc-small-2.webp" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="grid__item2">
                                                        <div class="cart-info">
                                                            <a href="/products/crep-protect-pills" class="a text-uppcase">Crep Protect - Pills</a>
                                                            <small>Crep Protect Pill</small>
                                                            <span class="quantity">Số lượng: 1</span>
                                                            <span class="current-price text-bold text-black-grey">Giá/sp: 320,000₫</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="cart-item">
                                                <div class="grid">
                                                    <div class="grid__item1">
                                                        <a href="/products/crep-protect-pills">
                                                            <img src="~/img/product-small/produc-small-3.webp" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="grid__item2">
                                                        <div class="cart-info">
                                                            <a href="/products/crep-protect-pills" class="a text-uppcase">Crep Protect - Pills</a>
                                                            <small>Crep Protect Pill</small>
                                                            <span class="quantity">Số lượng: 1</span>
                                                            <span class="current-price text-bold text-black-grey">Giá/sp: 320,000₫</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="cart-item">
                                                <div class="grid">
                                                    <div class="grid__item1">
                                                        <a href="/products/crep-protect-pills">
                                                            <img src="~/img/product-small/produc-small-4.webp" alt="">
                                                        </a>
                                                    </div>
                                                    <div class="grid__item2">
                                                        <div class="cart-info">
                                                            <a href="/products/crep-protect-pills" class="a text-uppcase">Crep Protect - Pills</a>
                                                            <small>Crep Protect Pill</small>
                                                            <span class="quantity">Số lượng: 1</span>
                                                            <span class="current-price text-bold text-black-grey">Giá/sp: 320,000₫</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                        <div class="qv-total-cart text-left">
                                            Tạm tính: <strong>1,820,000₫</strong>
                                        </div>
                                        <div class="quickview-cart-actions clearfix">
                                            <a href="/cart" class="view-cart">Xem giỏ hàng</a>
                                            <a href="/checkout" class="checkout">Thanh toán</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end header  -->
    <div id="home-main-slider">
        <div id="slider ">
            <div id="team-carousel" class="owl-carousel owl-theme">
                <div class="item active">
                    <img src="~/img/slide/slideshow_6.webp" alt="">
                    <div class="overlay2">
                        <div class="collection-info">
                            <a href="" class="collection-title text-36px text-bold">Born in Sai Gon</a>
                            <div class="collection-desc text-13px">
                                Đằng sau bộ hình này là câu chuyện hơi bị dễ thương giữa
                                một ông anh trai mưa và một cô em gái kết nghĩa. Đón chờ nhé.
                            </div>
                            <a href="" class="btn-more-white">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/slide/slideshow_2.webp" alt="">
                    <div class="overlay">
                        <div class="collection-info">
                            <a href="" class="collection-title text-36px text-bold">
                                BST K’Ho – nền văn hoá lụi tàn giữa đại ngàn Tây
                                Nguyên.
                            </a>
                            <div class="collection-desc text-13px">
                                Với những điểm đặc biệt như đường may nối linking, ba lớp
                                chất liệu
                                khác nhau, toàn bộ sợi tạo nên được cung cấp bởi công ty RSWM Limited.
                            </div>
                            <a href="" class="btn-more-white">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/slide/slideshow_3.webp" alt="">
                    <div class="overlay">
                        <div class="collection-info">
                            <a href="" class="collection-title text-36px text-bold">Vớ Iron flame</a>
                            <div class="collection-desc text-13px">
                                Với những điểm đặc biệt như đường may nối linking, ba lớp
                                chất liệu
                                khác nhau, toàn bộ sợi tạo nên được cung cấp bởi công ty RSWM Limited.
                            </div>
                            <a href="" class="btn-more-white">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/slide/slideshow_4.webp" alt="">
                    <div class="overlay">
                        <div class="collection-info">
                            <a href="" class="collection-title text-36px text-bold">BST Con rồng cháu tiên</a>
                            <div class="collection-desc text-13px">
                                Đây là bộ sưu tập chúng tôi làm vì niềm tự hào của bản
                                thân mình -
                                của con cháu Rồng - Tiên. Vì niềm tự hào được mang trên mình dòng máu nóng của cha ông đất
                                Việt. Chúng tôi làm ra nó vì muốn được cùng tất cả anh em trên đất nước này khoác lên mình
                                cái cội nguồn chính xác của dân tộc.
                            </div>
                            <a href="" class="btn-more-white">Xem thêm</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <img src="~/img/slide/slideshow_5.webp" alt="">
                    <div class="overlay1">
                        <div class="collection-info">
                            <a href="" class="collection-title text-black-grey text-36px text-bold">Urban Jungle pants</a>
                            <div class="collection-desc text-black-grey text-13px">
                                Mẫu quần đi rừng thế hệ thứ 2, thừa hưởng
                                tất cả
                                đặc tính kỹ thuật
                                của nguyên bản, cùng những cải tiến đặc biệt. Một sự kết hợp hình ảnh cùng Biti’s Hunter.
                            </div>
                            <a href="" class="btn-more-white text-black-grey">Xem thêm</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="home-banner1">
        <div class="home-collection">
            <a href="" class="home-collection-link">
                <img src="~/img/banner_top_img.webp" alt="">
            </a>
            <div class="collection-info">
                <a href="" class="collection-title text-13px">GIỚI THIỆU</a>
                <div class="collection-desc text-13px">
                    Ra đời vào ngày 15 tháng 5 năm 2015, chúng tôi thực hiện
                    hóa giấc mơ bắt đầu từ một Start up, khởi đầu sứ mệnh tạo ra những giá trị mới mẻ và có ích cho cộng
                    đồng mà không chỉ đơn thuần là tạo ra những sản phẩm chất lượng mà là “những sản phẩm hoàn hảo nhất
                    do người Việt làm”
                </div>
                <a href="intro.html" class="btn-more-white">Xem thêm</a>
            </div>
        </div>
    </div>
    <div class="home-gallery">
        <div class=" home-gallery-inner">
            <div class="hg-info">
                <h2 class="hg-title a text-36px">IRON FLAME</h2>
                <div class="hg-desc a text-20px">
                    Câu chuyện về nguồn gốc của mẫu hoạ tiết Iron Flame – Đại Định Sơn Hà
                </div>
            </div>
            <div class="hg-content">
                <div class="hg-content-video text-align-center">
                    <iframe width="90%" height="600" src="https://www.youtube.com/embed/OUQ27PpMvq8" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="hg-more text-align-center">
                    <a href="home-gallery-story.html" class="btn-more-white">Xem thêm</a>
                </div>
            </div>
        </div>
    </div>

    <div class="home-banner2">
        <div class="home-collection">
            <a href="" class="home-collection-link">
                <img src="~/img/banner_bottom_img2.jpg" alt="">
                <div class="overlay">

                </div>
            </a>
        </div>
        <div class="collection-info2 text-align-center">
            <a href="new.html" class="collection-title text-bold text-uppcase text-36px"><h2>Tin Tức</h2></a>
            <div class="collection-desc text-uppcase text-28px">thắp hương khấn cầu trời cầu phật để bán được hàng !</div>
            <a href="new.html" class="btn-more-white text-bold">Xem thêm</a>
        </div>
    </div>

    <div id="new-arrivals-slider">
        <h2 class="section-title text-align-center text-uppcase text-20px a pt-50">
            Sản phẩm mới về
        </h2>
        <h3 class="section-title text-align-center text-uppcase a text-18px pt-0">
            Cùng phá cách với các phụ kiện không thể thiếu tới từ Grimm DC
        </h3>
        <div id="slider">
            <div class="owl-carousel owl-theme" id="works-carousel">
                <div class="item">
                    <div class="product-item">
                        <div class="product-img">
                            <div class="product-sale text-13px">
                                <span>-15%</span>
                            </div>
                            <a href="" class="variant-hover">
                                <img src="~/img/product/produc1.1.webp" class="active-slide-img" alt="">
                                <img src="~/img/product/produc1.2.webp" class="hover-slide-img" alt="">
                            </a>
                        </div>
                        <div class="product-info text-align-center">
                            <a href="/products/12-con-giap-chuot" class="product-title text-uppcase">
                                Áo Lion in
                                Jungle
                            </a> <br>
                            <span class="product-price">
                                <span class="current-price red text-bold">670,000₫</span>

                                <s class="original-price text-black-grey text-bold"><i>850,000₫</i></s>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-item">
                        <div class="product-img">
                            <div class="product-sale text-13px">
                                <span>-20%</span>
                            </div>
                            <a href="" class="variant-hover">
                                <img src="~/img/product/produc2.1.webp" class="active-slide-img" alt="">
                                <img src="~/img/product/produc2.2.webp" class="hover-slide-img" alt="">
                            </a>
                        </div>
                        <div class="product-info text-align-center">
                            <a href="/products/12-con-giap-chuot" class="product-title text-uppcase">
                                Áo Billad Type
                                A
                            </a> <br>
                            <span class="product-price">
                                <span class="current-price red text-bold">210,000₫</span>

                                <s class="original-price text-black-grey text-bold"><i>440,000₫</i></s>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-item">
                        <div class="product-img">
                            <div class="product-sale text-13px">
                                <span>-47%</span>
                            </div>
                            <a href="" class="variant-hover">
                                <img src="~/img/product/produc3.1.webp" class="active-slide-img" alt="">
                                <img src="~/img/product/produc3.2.webp" class="hover-slide-img" alt="">
                            </a>
                        </div>
                        <div class="product-info text-align-center">
                            <a href="/products/12-con-giap-chuot" class="product-title text-uppcase">
                                Sơ-mi Vitamin
                                Sea
                            </a> <br>
                            <span class="product-price">
                                <span class="current-price red text-bold">650,000₫</span>

                                <s class="original-price text-black-grey text-bold"><i>950,000₫</i></s>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-item">
                        <div class="product-img">
                            <div class="product-sale text-13px">
                                <span>-18%</span>
                            </div>
                            <a href="" class="variant-hover">
                                <img src="~/img/product/produc4.1.webp" class="active-slide-img" alt="">
                                <img src="~/img/product/produc4.2.webp" class="hover-slide-img" alt="">
                            </a>
                        </div>
                        <div class="product-info text-align-center">
                            <a href="/products/12-con-giap-chuot" class="product-title text-uppcase">
                                Áo len
                                MARVEL
                            </a> <br>
                            <span class="product-price">
                                <span class="current-price red text-bold">550,000₫</span>

                                <s class="original-price text-black-grey text-bold"><i>1.150,000₫</i></s>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-item">
                        <div class="product-img">
                            <div class="product-sale text-13px">
                                <span>-67%</span>
                            </div>
                            <a href="" class="variant-hover">
                                <img src="~/img/product/produc5.1.webp" class="active-slide-img" alt="">
                                <img src="~/img/product/produc5.2.webp" class="hover-slide-img" alt="">
                            </a>
                        </div>
                        <div class="product-info text-align-center">
                            <a href="/products/12-con-giap-chuot" class="product-title text-uppcase">Áo G Pink</a>
                            <br>
                            <span class="product-price">
                                <span class="current-price red text-bold">300,000₫</span>

                                <s class="original-price text-black-grey text-bold"><i>650,000₫</i></s>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-item">
                        <div class="product-img">
                            <div class="product-sale text-13px">
                                <span>-74%</span>
                            </div>
                            <a href="" class="variant-hover">
                                <img src="~/img/product/produc6.1.webp" class="active-slide-img" alt="">
                                <img src="~/img/product/produc6.2.webp" class="hover-slide-img" alt="">
                            </a>
                        </div>
                        <div class="product-info text-align-center">
                            <a href="/products/12-con-giap-chuot" class="product-title text-uppcase">
                                Áo Grimm DC
                                White
                            </a> <br>
                            <span class="product-price">
                                <span class="current-price red text-bold">440,000₫</span>

                                <s class="original-price text-black-grey text-bold"><i>500,000₫</i></s>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-item">
                        <div class="product-img">
                            <div class="product-sale text-13px">
                                <span>-11%</span>
                            </div>
                            <a href="" class="variant-hover">
                                <img src="~/img/product/produc7.1.webp" class="active-slide-img" alt="">
                                <img src="~/img/product/produc7.2.webp" class="hover-slide-img" alt="">
                            </a>
                        </div>
                        <div class="product-info text-align-center">
                            <a href="/products/12-con-giap-chuot" class="product-title text-uppcase">Quần đũi đen</a>
                            <br>
                            <span class="product-price">
                                <span class="current-price red text-bold">200,000₫</span>

                                <s class="original-price text-black-grey text-bold"><i>345,000₫</i></s>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-item">
                        <div class="product-img">
                            <div class="product-sale text-13px">
                                <span>-29%</span>
                            </div>
                            <a href="" class="variant-hover">
                                <img src="~/img/product/produc8.1.webp" class="active-slide-img" alt="">
                                <img src="~/img/product/produc8.2.webp" class="hover-slide-img" alt="">
                            </a>
                        </div>
                        <div class="product-info text-align-center">
                            <a href="/products/12-con-giap-chuot" class="product-title text-uppcase">Sơ-mi Caro</a>
                            <br>
                            <span class="product-price">
                                <span class="current-price red text-bold">670,000₫</span>

                                <s class="original-price text-black-grey text-bold"><i>850,000₫</i></s>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product-item">
                        <div class="product-img">
                            <div class="product-sale text-13px">
                                <span>-33%</span>
                            </div>
                            <a href="" class="variant-hover">
                                <img src="~/img/product/produc9.1.webp" class="active-slide-img" alt="">
                                <img src="~/img/product/produc9.2.webp" class="hover-slide-img" alt="">
                            </a>
                        </div>
                        <div class="product-info text-align-center">
                            <a href="/products/12-con-giap-chuot" class="product-title text-uppcase">
                                Áo giữ nhiệt dài
                                tay
                            </a> <br>
                            <span class="product-price">
                                <span class="current-price red text-bold">470,000₫</span>

                                <s class="original-price text-black-grey text-bold"><i>550,000₫</i></s>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-align-center pb-50">
            <a href="/collections/new" class="btn-more-white text-black-grey">Xem thêm</a>
        </div>
    </div>
    <div id="home-shop-map">
        <div class="overlay">
            <div class="shop-info text-align-center">
                <span class="text-28px">Tìm cửa hàng gần bạn nhất</span>
                <a href="contact.html" class="btn-more-white">Hệ thống cửa hàng</a>
            </div>
        </div>
    </div>
    <footer>
        <div class="footer-main ">
            <div class="grid-full clearfix" id="site">
                <div class="footer-info-left">
                    <div class="grid-item-left">
                        <div class="footer-info">
                            <div class="footer-info-logo text-align-center">
                                <a href="">
                                    <img src="~/img/ft-logo.webp" alt="">
                                </a>
                            </div>
                            <div class="ft-address">
                                <i class="fa fa-home mr-10"></i>
                                <span>Số 141, Chiến Thắng - Hà Đông - Hà Nội</span>
                            </div>
                            <div class="ft-hotline">
                                <i class="fa fa-phone mr-10" aria-hidden="true"></i>
                                <a href="" class="text-black">0947150729</a>
                            </div>
                            <div class="ft-email">
                                <i class="fa fa-envelope mr-10" aria-hidden="true"></i>
                                <a href="" class="text-black">ngoanhduc1999@gmail.com </a>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item-center">
                        <div class="footer-menu">
                            <h3 class="footer-title text-18px">THÔNG TIN</h3>
                            <ul class="footer-nav-list text-14px">

                                <li class="mb-15">
                                    <a href="index.html" class="text-black">Grimm DC</a>
                                </li>

                                <li class="mb-15">
                                    <a href="intro.html" class="text-black">Giới thiệu</a>
                                </li>

                                <li class="mb-15">
                                    <a href="ao-tay-ngan.html" class="text-black">Sản phẩm</a>
                                </li>

                                <li class="mb-15">
                                    <a href="new.html" class="text-black">Tin tức</a>
                                </li>

                                <li class="mb-15">
                                    <a href="contact.html" class="text-black">Liên hệ</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                    <div class="grid-item-right">
                        <div class="footer-menu">
                            <h3 class="footer-title text-18px">HỖ TRỢ KHÁCH HÀNG</h3>
                            <ul class="footer-nav-list text-14px">

                                <li class="mb-15">
                                    <a href="huong-dan-mua-hang.html" class="text-black">Hướng dẫn mua hàng</a>
                                </li>

                                <li class="mb-15">
                                    <a href="huong-dan-thanh-toan.html" class="text-black">Hướng dẫn thanh toán</a>
                                </li>

                                <li class="mb-15">
                                    <a href="chinh-sach-bao-mat.html" class="text-black">Chính sách bảo mật</a>
                                </li>

                                <li class="mb-15">
                                    <a href="giao-hang.html" class="text-black">
                                        Giao hàng và vận
                                        chuyển
                                    </a>
                                </li>

                                <li class="mb-15">
                                    <a href="doi-tra.html" class="text-black">Chính sách đổi trả</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-social-right">
                    <div class="footer-social text-align-center">
                        <h4 class="footer-title text-18px">
                            CHÚNG TÔI TRÊN MẠNG XÃ HỘI
                        </h4>
                        <div class="list-social-network">

                            <a href="https://www.facebook.com/grimmdcvietnam/" class="social-icon">
                                <i class="fa fa-facebook" aria-hidden="true"></i>
                            </a>


                            <a href="https://www.instagram.com/grimmdc.official/" class="social-icon">
                                <i class="fa fa-instagram" aria-hidden="true"></i>
                            </a>


                            <a href="https://www.youtube.com/channel/UCkuQ9XY5PEDQmGYX9ceIexg" class="social-icon">
                                <i class="fa fa-youtube-play" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="footer-copyright text-align-center">
            <a target="_blank" href="http://grimmdc.vn">© 2020 TEAM 28 THIS IS NOT FOR COPY RIGHT</a>
        </div>
    </footer>
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                xfbml: true,
                version: 'v8.0'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

    <!-- Your Chat Plugin code -->
    <div class="fb-customerchat"
         attribution=setup_tool
         page_id="778286239201398">
    </div>
</body>
<script src="~/js/jquery-3.2.1.js"></script>
<script src="~/js/index.js"></script>
<script src="~/js/owl/owl.carousel.js"></script>
<script src="~/js/owl/owl.carousel.min.js"></script>
<script>$('#team-carousel').owlCarousel({
        items: 1,
        loop: true,
        margin: 10,
        autoplay: true,
        autoplayTimeout: 1500,
        autoplayHoverPause: true,
    });
    $('#works-carousel').owlCarousel({
        items: 4,
        loop: true,
        margin: 10,
        dots: false,
        autoplay: true,
        autoplayTimeout: 1500,
        autoplayHoverPause: true,
    });</script>

</html>